* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

span {
  cursor: pointer;
}

.star::before {
  content: "\2606";
  font-size: 25px;
}

.star.rated::before {
  content: "\2605";
  font-size: 25px;
  color: orangered;
}

/*Infinite sceoll */
.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 0.5s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  background-color: rgb(23, 20, 31);
  color: #fff;
}
.card {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}
